
<div>oh, hey. you're an admin.</div>

<div>
  dispensed:
  <ul>
    <% @dispensed.each do |pez| %>
      <li>
        <%= pez.identity %>
        <%= pez.secret_code %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  waiting:
  <ul>
    <% @waiting.each do |pez| %>
      <li>
        <%= pez.identity %>
        <%= link_to 'seat!', :controller => 'admins', :action => 'seat', :pez_id => pez.id %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  lazy users:
  <ul>
    <% @lazy_users.each do |user| %>
      <li>
        <%= user.identity %>
        <%= link_to 'evict', :controller => 'admins', :action => 'evict', :user_id => user.id %>
      </li>
    <% end %>
  </ul>
</div>