
<div>
  <h1>post something</h1>
  
  <% form_for @thing do |f| %>
    <div>
      <%= f.label :title, 'title:' %>
      <%= f.text_field :title %>
    </div>
    
    <div>
      <%= f.label :url, 'url:' %>
      <%= f.text_field :url %>
    </div>
    
    <div>
      <%= f.label :body, 'text:' %>
      <%= f.text_area :body %>
    </div>
    
    <div>
      <%= f.hidden_field :previous_id, :previous_id => @previous_id %>
      <%= submit_tag 'post!' %>
    </div>
  <% end %>
</div>