
<div>
  <div><%= link_to @thing.user.identity, :controller => 'users', :action => 'show', :id => @thing.user.id %></div>
  <div><%= @thing.title %></div>
  <div><%= @thing.url %></div>
  <div><%= @thing.body %></div>
  
  <div><%= link_to 'reply', :controller => 'things', :action => 'new', :previous_id => @thing.id %>
</div>
