
<div>
  <%= status_link candy %> 
  - 
  <span class='<%= liked candy %>'>
  <%= vote_link candy, 'yes' %> 
  </span>
  | 
  <span class='<%= disliked candy %>'>
  <%= vote_link candy, 'no' %>
  </span>
</div>
