<%= error_messages_for 'user' %>

<h3>Change password</h3>

<% form_for :user, :action => 'change_password', :method => 'post' do |f| %>

  <div>
    <%= f.label :password, 'once:' %>
    <%= f.password_field :password, :size => 20, :value=>"" %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'twice:' %>
    <%= f.password_field :password_confirmation, :size => 20, :value => "" %>
  </div>

  <div>
    <%= submit_tag "...three times a lady." %>
  </div>

<% end %>