
<% form_tag :action=> "signup", :method => 'post' do %>

  <%= error_messages_for 'user' %>

  <div>
    <label for="user_identity">Identity</label>
    <%= text_field "user", "identity", :size => 20 %>
  </div>

  <div>
    <label for="user_password">Password</label>
    <%= password_field "user", "password", :size => 20 %>
  </div>

  <div>
    <label for="user_password_confirmation">Password Confirmation</label>
    <%= password_field "user", "password_confirmation", :size => 20 %>
  </div>

  <div>
    <label for="user_email">Email</label>
    <%= text_field "user", "email",  :size => 20 %>
  </div>

  <div>
    <%= submit_tag "Signup" %>
  </div>

<% end %>
