
<div>
  <h1>hello</h1>

  <% form_for @pez do |f| %>

  <div>
    <%= f.label :identity, "identity:" %>
    <%= f.text_field :identity %>
  </div>

  <div>
    <%= f.label :colour, "colour:" %>
    <%= f.hidden_field :colour, :value => '12345' %>
    <%= @pez.colour %>
  </div>

  <div>
    <%= submit_tag 'add me to the dispenser, please!' %>
  </div>

  <% end %>
</div>