
<h1>hello</h1>

<% form_for @pez do |f| %>

<%= f.label :identity, "identity:" %>
<%= f.text_field :identity %>

<div></div>
<%= f.label :colour, "colour:" %>
<%= f.text_field :colour %>

<div></div>
<%= submit_tag 'add me to the dispenser, please!' %>

<% end %>