<html>
  <head>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag :defaults %>
    <%= yield :head %>
  </head>
  <body>
    <div class='header'>
      <div>
        <span class='headerheader'>
          [beta] <%= session[:user] ? session[:user].identity + ':' : 'handy links:' %>
        </span>
        <%= link_to 'home', '/' %>
        
        <% if session[:user] %>
          | <%= link_to 'candy', :controller => 'users', :action => 'welcome' %>
          | <%= link_to 'you', :controller => 'users', :action => 'you' %>
          | <%= link_to 'logout', :controller => 'users', :action => 'logout' %>
          <% if session[:user].admin? %>
            | <%= link_to 'admin', :controller => 'admins', :action => 'index' %>
          <% end %>
      
        <% else %>
          | <%= link_to 'login', :controller => 'users', :action => 'login' %>
          | <%= link_to 'apply', :controller => 'pezez', :action => 'new' %>
          | <%= link_to 'join!', :controller => 'users', :action => 'signup' %>
          | <a href='/images/what.png'>what?</a>
        <% end %>
      </div>
    </div>
    
    <% if flash[:message] %>
      <div class='message-flash'><%= flash[:message] %></div>
    <% end %>
    <% if flash[:notice] %>
      <div class='notice-flash'><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:warning] %>
      <div class='warning-flash'><%= flash[:warning] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class='error-flash'><%= flash[:error] %></div>
    <% end %>

    <%= yield %>
    
    <div>&nbsp;</div>
    <div>&nbsp;</div>    
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>
      This is a throw-away beta, friends.  Please feel free to talk to me directly or send me explicit feedback at: public@deobald.ca.
    </div>
  </body>
</html>
